<footer class="bg-primary text-white p-8 mt-10  rounded-lg ">
    <div class="max-w-6xl mx-auto px-4">
        <div class="flex justify-between items-center">
            <div>
                <h4 class="text-lg font-semibold">About Me</h4>
                <p class="text-sm">Student At Universitas Muhammadiyah Pontianak</p>
            </div>
            <div>
                <h4 class="text-lg font-semibold">Follow Me</h4>
                <div class="flex space-x-4">
                    <a href="https://github.com/AhmadAlbara" target="_blank" class="hover:text-gray-200">GitHub</a>
                    <a href="https://www.linkedin.com/in/ahmad-albara-a359202ab" target="_blank" class="hover:text-gray-200">LinkedIn</a>
                    <a href="https://x.com/ahmdalbrr_" target="_blank" class="hover:text-gray-200">Twitter</a>
                </div>
            </div>
        </div>
        <div class="mt-4 text-center">
            <p class="text-sm">&copy;
                <?php echo date("Y"); ?> Ahmad Albara. All rights reserved.
            </p>
        </div>
    </div>
</footer>