<aside class="sticky top-0 hidden h-screen pt-8 ml-8 w-fit md:block lg:w-52">
    <div class="p-5">
        <a class="text-xl font-bold mb-4 flex items-center text-primary" href="">
            <img src="../../assets/img/logo.png" alt="logo" width="50px">
            <i>PrintZone</i>
        </a>
        <hr>
        <ul class="space-y-5 mt-4">
            <li><a href="./index.php?page=dashboard" class="block text-gray-700 hover:bg-gray-200 p-2 rounded"
                    id="dashboardLink">
                    <i class="fa fa-tachometer-alt mr-2"></i>Dashboard
                </a></li>
            <li class="relative">
                <button id="locationDropdownButton"
                    class="block text-gray-700 hover:bg-gray-200 p-2 rounded w-full text-left">
                    <i class="fa fa-map-marker-alt mr-2"></i>Locations
                    <i class="ml-1 fa fa-chevron-down"></i>
                </button>
                <ul id="locationDropdown" class="hidden ml-10 w-[150px] text-gray-700 space-y-3 mt-4 rounded">
                    <li><a href="./index.php?page=add" class="block hover:bg-gray-200 p-2 rounded" id="addLocationLink">
                            <i class="fa fa-plus mr-2"></i>Add Location
                        </a></li>
                    <li><a href="./index.php?page=all" class="block hover:bg-gray-200 p-2 rounded" id="allDataLink">
                            <i class="fa fa-list mr-2"></i>See All Data
                        </a></li>
                </ul>
            </li>
            <li><a href="./index.php?page=profile" class="block text-gray-700 hover:bg-gray-200 p-2 rounded"
                    id="profileLink">
                    <i class="fa fa-user mr-2"></i>Profile
                </a></li>
            <li><a href="../../routes.php?action=logout" class="block text-red-600 hover:bg-red-200 p-2 rounded"
                    id="logoutLink">
                    <i class="fa fa-sign-out-alt mr-2"></i>Logout
                </a></li>
        </ul>
    </div>
</aside>

<script>
    function setActiveLink() {
        const urlParams = new URLSearchParams(window.location.search);
        const page = urlParams.get('page');
        const pageLinks = {
            dashboard: 'dashboardLink',
            add: 'addLocationLink',
            all: 'allDataLink',
            profile: 'profileLink',
            settings: 'settingsLink'
        };
        if (page && pageLinks[page]) {
            document.getElementById(pageLinks[page]).classList.add('bg-primary', 'text-white','hover:bg-primary');
        }
    }
    setActiveLink();

    const dropdownButton = document.getElementById('locationDropdownButton');
    const dropdownMenu = document.getElementById('locationDropdown');

    dropdownButton.addEventListener('click', () => {
        dropdownMenu.classList.toggle('hidden');
    });

    window.addEventListener('click', (event) => {
        if (!dropdownButton.contains(event.target) && !dropdownMenu.contains(event.target)) {
            dropdownMenu.classList.add('hidden');
        }
    });
</script>